apiVersion: v1
kind: Namespace
metadata:
  name: minio

---
apiVersion: v1
kind: Secret
metadata:
  name: minio-cluster-custom-aksk
  namespace: minio
type: Opaque
immutable: true
stringData:
  # minio secretKey
  password: sFdw9xOlb19e46dd3aea61ca94177xQ
  # minio accessKey
  username: wx9aFJ4U29cwBa1KW2xow9z

---
apiVersion: apps.kubeblocks.io/v1
kind: Cluster
metadata:
  name: minio-cluster-custom-instance
  namespace: minio
spec:
  terminationPolicy: DoNotTerminate
  componentSpecs:
    - componentDef: minio
      name: minio
      replicas: 4
      systemAccounts:
        - name: root
          secretRef:
            name: minio-cluster-custom-aksk
            namespace: minio
      env:
        - name: MINIO_BUCKETS
          value: "deap,test,data"
      resources:
        requests:
          cpu: "0.5"
          memory: "1Gi"
        limits:
          cpu: "1"
          memory: "2Gi"
      instances:
        - name: tpl1
          replicas: 1
          ordinals:
            ranges:
              - start: 101
                end: 200
          volumeClaimTemplates:
            - name: data
              spec:
                storageClassName: "lvm-data1"
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 500Gi
        - name: tpl2
          replicas: 1
          ordinals:
            ranges:
              - start: 201
                end: 300
          volumeClaimTemplates:
            - name: data
              spec:
                storageClassName: "lvm-data3"
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 500Gi
        - name: tpl3
          replicas: 1
          ordinals:
            ranges:
              - start: 301
                end: 400
          volumeClaimTemplates:
            - name: data
              spec:
                storageClassName: "lvm-data5"
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 500Gi
        - name: tpl4
          replicas: 1
          ordinals:
            ranges:
              - start: 401
                end: 500
          volumeClaimTemplates:
            - name: data
              spec:
                storageClassName: "lvm-data7"
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 500Gi
