# download directory
down/*

# binaries directory
bin/*

# k8s storage manifests 
manifests/storage/*
!manifests/storage/test.yaml

# role based variable settings, exclude roles/os-harden/vars/
#/roles/*/vars/*
#!/roles/os-harden/vars/

# cluster instances
clusters/
