---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubeapps-viewer
  namespace: {{ kubeapps_working_namespace }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kubeapps-viewer
  namespace: {{ kubeapps_working_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
- kind: ServiceAccount
  name: kubeapps-viewer
  namespace: {{ kubeapps_working_namespace }}

---
apiVersion: v1
kind: Secret
metadata:
  name: kubeapps-view-token
  namespace: {{ kubeapps_working_namespace }}
  annotations:
    kubernetes.io/service-account.name: "kubeapps-viewer"
type: kubernetes.io/service-account-token
