#https://github.com/containerd/containerd/blob/main/docs/hosts.md
server = "http://easzlab.io.local:5000"

[host."http://easzlab.io.local:5000"]
  capabilities = ["pull", "resolve"]
  skip_verify = true
