# 
- import_tasks: clean_etcd.yml
  when: 'DEL_ETCD == "yes"'

- import_tasks: clean_master.yml
  when: 'DEL_MASTER == "yes"'

- import_tasks: clean_node.yml
  when: 'DEL_NODE == "yes"'

- import_tasks: clean_lb.yml
  when: 'DEL_LB == "yes"'

- import_tasks: clean_chrony.yml
  when: 'DEL_CHRONY == "yes"'

- name: clean 'ENV PATH'
  lineinfile:
    dest: ~/.bashrc
    state: absent
    regexp: '{{ item }}'
  with_items:
  - 'kubeasz'
  - 'helm completion'
  - 'kubectl completion'
  - 'crictl completion'
  - 'HELM_TLS_ENABLE'
  when: 'DEL_ENV == "yes"'

  #- name: remove binaries
  #  file: name={{ item }} state=absent
  #  with_items:
  #  - "/opt/kube/bin"
  #  when: 'DEL_ETCD == "yes" and DEL_NODE == "yes" and DEL_MASTER == "yes"'

- name: 重启提示 WARNNING
  debug:
    msg: "[重要]: 请重启节点以确保清除系统残留的虚拟网卡、路由信息、iptalbes|ipvs规则等 \
          [IMPORTANT]: please reboot nodes, makesure to clean out net interfaces, routes and iptables/ipvs rules"
  when: 'DEL_ETCD == "yes" and DEL_NODE == "yes" and DEL_MASTER == "yes"'
