apiVersion: apps.kubeblocks.io/v1
kind: Cluster
metadata:
  name: semisync-mysql-cluster
spec:
  clusterDef: mysql
  topology: semisync
  terminationPolicy: Delete
  componentSpecs:
    - name: mysql
      componentDef: "mysql-8.0-1.0.0"
      disableExporter: false
      serviceVersion: 8.0.39
      stop: false 
      replicas: 2
      resources:
        limits:
          cpu: '0.5'
          memory: 0.5Gi
        requests:
          cpu: '0.5'
          memory: 0.5Gi
      env:
        - name: SEMI_SYNC_TIMEOUT
          value: "5000"
        - name: LANG
          value: "C.UTF-8"
      volumeClaimTemplates:
        - name: data
          spec:
            storageClassName: "local-path"
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 20Gi
