---
apiVersion: v1
kind: Service
metadata:
  name: ovnkube-db
  namespace: ovn-kubernetes
spec:
  ports:
    - name: north
      port: 6641
      protocol: TCP
      targetPort: 6641
    - name: south
      port: 6642
      protocol: TCP
      targetPort: 6642
  sessionAffinity: None
  clusterIP: None
  type: ClusterIP

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: ovnkube-db
  namespace: ovn-kubernetes
  annotations:
    kubernetes.io/description: |
      This daemonset launches the OVN NB/SB ovsdb service components.
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: ovnkube-db
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        ovn-db-pod: "true"
        name: ovnkube-db
        component: network
        type: infra
        kubernetes.io/os: "linux"
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      serviceAccountName: ovn
      hostNetwork: true
      containers:
        - name: nb-ovsdb
          image: "{{ ovn_kubernetes_image }}"
          imagePullPolicy: "IfNotPresent"
          command: ["/root/ovnkube.sh", "nb-ovsdb"]
          securityContext:
            runAsUser: 0
            capabilities:
              add: ["NET_ADMIN"]
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - mountPath: /etc/openvswitch/
              name: host-var-lib-ovs
            - mountPath: /etc/ovn/
              name: host-var-lib-ovs
            - mountPath: /var/log/openvswitch/
              name: host-var-log-ovs
            - mountPath: /var/log/ovn/
              name: host-var-log-ovs
            - mountPath: /ovn-cert
              name: host-ovn-cert
              readOnly: true
            - mountPath: /var/run/ovn/
              name: host-var-run-ovs
            - mountPath: /var/run/openvswitch/
              name: host-var-run-ovs
          resources:
            requests:
              cpu: 100m
              memory: 300Mi
          env:
            - name: OVN_DAEMONSET_VERSION
              value: "3"
            - name: OVN_LOGLEVEL_NB
              value: "-vconsole:info -vfile:info"
            - name: K8S_APISERVER
              valueFrom:
                configMapKeyRef:
                  name: ovn-config
                  key: k8s_apiserver
            - name: OVN_KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: K8S_NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: OVN_SSL_ENABLE
              value: "no"
            - name: OVN_NB_PORT
              value: "6641"
          readinessProbe:
            exec:
              command: ["/usr/bin/ovn-kube-util", "readiness-probe", "-t", "ovnnb-db"]
            initialDelaySeconds: 30
            timeoutSeconds: 30
            periodSeconds: 60
        - name: sb-ovsdb
          image: "{{ ovn_kubernetes_image }}"
          imagePullPolicy: "IfNotPresent"
          command: ["/root/ovnkube.sh", "sb-ovsdb"]
          securityContext:
            runAsUser: 0
            capabilities:
              add: ["NET_ADMIN"]
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - mountPath: /etc/openvswitch/
              name: host-var-lib-ovs
            - mountPath: /etc/ovn/
              name: host-var-lib-ovs
            - mountPath: /var/log/openvswitch/
              name: host-var-log-ovs
            - mountPath: /var/log/ovn/
              name: host-var-log-ovs
            - mountPath: /ovn-cert
              name: host-ovn-cert
              readOnly: true
            - mountPath: /var/run/ovn/
              name: host-var-run-ovs
            - mountPath: /var/run/openvswitch/
              name: host-var-run-ovs
          resources:
            requests:
              cpu: 100m
              memory: 300Mi
          env:
            - name: OVN_DAEMONSET_VERSION
              value: "3"
            - name: OVN_LOGLEVEL_SB
              value: "-vconsole:info -vfile:info"
            - name: K8S_APISERVER
              valueFrom:
                configMapKeyRef:
                  name: ovn-config
                  key: k8s_apiserver
            - name: OVN_KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: K8S_NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: OVN_SSL_ENABLE
              value: "no"
            - name: OVN_SB_PORT
              value: "6642"
          readinessProbe:
            exec:
              command: ["/usr/bin/ovn-kube-util", "readiness-probe", "-t", "ovnsb-db"]
            initialDelaySeconds: 30
            timeoutSeconds: 30
            periodSeconds: 60
      nodeSelector:
        node-role.kubernetes.io/master: ""
        kubernetes.io/os: "linux"
      volumes:
        - name: host-var-lib-ovs
          hostPath:
            path: /var/lib/openvswitch
        - name: host-var-log-ovs
          hostPath:
            path: /var/log/openvswitch
        - name: host-ovn-cert
          hostPath:
            path: /etc/ovn
            type: DirectoryOrCreate
        - name: host-var-run-ovs
          hostPath:
            path: /var/run/openvswitch
      tolerations:
        - operator: "Exists"