---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: ovnkube-master
  namespace: ovn-kubernetes
  annotations:
    kubernetes.io/description: |
      This Deployment launches the ovn-kubernetes master networking components.
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: ovnkube-master
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        name: ovnkube-master
        component: network
        type: infra
        kubernetes.io/os: "linux"
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      serviceAccountName: ovn
      hostNetwork: true
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/master
                    operator: In
                    values:
                      - ""
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - "linux"
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: name
                    operator: In
                    values:
                      - ovnkube-master
              topologyKey: kubernetes.io/hostname
      containers:
        - name: ovn-northd
          image: "{{ ovn_kubernetes_image }}"
          imagePullPolicy: "IfNotPresent"
          command: ["/root/ovnkube.sh", "run-ovn-northd"]
          securityContext:
            runAsUser: 0
            capabilities:
              add: ["SYS_NICE"]
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - mountPath: /var/run/dbus/
              name: host-var-run-dbus
              readOnly: true
            - mountPath: /var/log/openvswitch/
              name: host-var-log-ovs
            - mountPath: /var/log/ovn/
              name: host-var-log-ovs
            - mountPath: /var/run/openvswitch/
              name: host-var-run-ovs
            - mountPath: /var/run/ovn/
              name: host-var-run-ovs
            - mountPath: /ovn-cert
              name: host-ovn-cert
              readOnly: true
          resources:
            requests:
              cpu: 100m
              memory: 300Mi
          env:
            - name: OVN_DAEMONSET_VERSION
              value: "3"
            - name: OVN_LOGLEVEL_NORTHD
              value: "-vconsole:info -vfile:info"
            - name: K8S_APISERVER
              valueFrom:
                configMapKeyRef:
                  name: ovn-config
                  key: k8s_apiserver
            - name: OVN_KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OVN_SSL_ENABLE
              value: "no"
          readinessProbe:
            exec:
              command: ["/usr/bin/ovn-kube-util", "readiness-probe", "-t", "ovn-northd"]
            initialDelaySeconds: 30
            timeoutSeconds: 30
            periodSeconds: 60
        - name: nbctl-daemon
          image: "{{ ovn_kubernetes_image }}"
          imagePullPolicy: "IfNotPresent"
          command: ["/root/ovnkube.sh", "run-nbctld"]
          securityContext:
            runAsUser: 0
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - mountPath: /var/log/openvswitch/
              name: host-var-log-ovs
            - mountPath: /var/log/ovn/
              name: host-var-log-ovs
            - mountPath: /var/run/openvswitch/
              name: host-var-run-ovs
            - mountPath: /var/run/ovn/
              name: host-var-run-ovs
            - mountPath: /ovn-cert
              name: host-ovn-cert
              readOnly: true
          resources:
            requests:
              cpu: 100m
              memory: 300Mi
          env:
            - name: OVN_DAEMONSET_VERSION
              value: "3"
            - name: OVN_LOGLEVEL_NBCTLD
              value: "-vconsole:info"
            - name: K8S_APISERVER
              valueFrom:
                configMapKeyRef:
                  name: ovn-config
                  key: k8s_apiserver
            - name: OVN_SSL_ENABLE
              value: "no"
          readinessProbe:
            exec:
              command: ["/usr/bin/ovn-kube-util", "readiness-probe", "-t", "ovn-nbctl"]
            initialDelaySeconds: 30
            timeoutSeconds: 30
            periodSeconds: 60
        - name: ovnkube-master
          image: "{{ ovn_kubernetes_image }}"
          imagePullPolicy: "IfNotPresent"
          command: ["/root/ovnkube.sh", "ovn-master"]
          securityContext:
            runAsUser: 0
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - mountPath: /var/run/dbus/
              name: host-var-run-dbus
              readOnly: true
            - mountPath: /var/log/ovn-kubernetes/
              name: host-var-log-ovnkube
            - mountPath: /var/run/openvswitch/
              name: host-var-run-ovs
            - mountPath: /var/run/ovn/
              name: host-var-run-ovs
            - mountPath: /ovn-cert
              name: host-ovn-cert
              readOnly: true
          resources:
            requests:
              cpu: 100m
              memory: 300Mi
          env:
            - name: OVN_DAEMONSET_VERSION
              value: "3"
            - name: OVNKUBE_LOGLEVEL
              value: "5"
            - name: OVNKUBE_LOGFILE_MAXSIZE
              value: "100"
            - name: OVNKUBE_LOGFILE_MAXBACKUPS
              value: "5"
            - name: OVNKUBE_LOGFILE_MAXAGE
              value: "5"
            - name: OVN_NET_CIDR
              valueFrom:
                configMapKeyRef:
                  name: ovn-config
                  key: net_cidr
            - name: OVN_SVC_CIDR
              valueFrom:
                configMapKeyRef:
                  name: ovn-config
                  key: svc_cidr
            - name: K8S_APISERVER
              valueFrom:
                configMapKeyRef:
                  name: ovn-config
                  key: k8s_apiserver
            - name: K8S_NODE
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: K8S_NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: OVN_KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OVN_HYBRID_OVERLAY_ENABLE
              value: ""
            - name: OVN_EGRESSIP_ENABLE
              value: "{{ 'true' if EGRESS_IP_ENABLE | bool else 'false'}}"
            - name: OVN_EGRESSFIREWALL_ENABLE
              value: "{{ 'true' if EGRESS_FIREWALL_ENABLE | bool else 'false'}}"
            - name: OVN_HYBRID_OVERLAY_NET_CIDR
              value: ""
            - name: OVN_DISABLE_SNAT_MULTIPLE_GWS
              value: ""
            - name: OVN_EMPTY_LB_EVENTS
              value: ""
            - name: OVN_V4_JOIN_SUBNET
              value: ""
            - name: OVN_V6_JOIN_SUBNET
              value: ""
            - name: OVN_SSL_ENABLE
              value: "no"
            - name: OVN_GATEWAY_MODE
              value: "shared"
            - name: OVN_MULTICAST_ENABLE
              value: ""
            - name: OVN_ACL_LOGGING_RATE_LIMIT
              value: "20"
            - name: OVN_HOST_NETWORK_NAMESPACE
              valueFrom:
                configMapKeyRef:
                  name: ovn-config
                  key: host_network_namespace
      volumes:
        - name: host-var-run-dbus
          hostPath:
            path: /var/run/dbus
        - name: host-var-log-ovs
          hostPath:
            path: /var/log/openvswitch
        - name: host-var-log-ovnkube
          hostPath:
            path: /var/log/ovn-kubernetes
        - name: host-var-run-ovs
          hostPath:
            path: /var/run/openvswitch
        - name: host-ovn-cert
          hostPath:
            path: /etc/ovn
            type: DirectoryOrCreate
      tolerations:
        - operator: "Exists"