global_defs {
    router_id lb-backup
}

vrrp_instance VI-kube-master {
    state BACKUP
    priority 110
    unicast_src_ip {{ inventory_hostname }}
    unicast_peer {
        {% for h in groups['lb'] %}{% if h != inventory_hostname %}{{ h }}{% endif %}{% endfor %}

    }
    dont_track_primary
    interface {{ LB_IF }}
    virtual_router_id {{ ROUTER_ID }} 
    advert_int 3
    virtual_ipaddress {
        {{ MASTER_IP }}
    }
}
