apiVersion: kubescheduler.config.k8s.io/v1beta1
kind: KubeSchedulerConfiguration
clientConnection:
  kubeconfig: "/etc/kubernetes/kube-scheduler.kubeconfig"
healthzBindAddress: {{ inventory_hostname }}:10251
leaderElection:
  leaderElect: true
metricsBindAddress: {{ inventory_hostname }}:10251
