apiVersion: v1
kind: calicoApiConfig
metadata:
spec:
  datastoreType: "etcdv2"
  etcdEndpoints: {{ ETCD_ENDPOINTS }}
  etcdKeyFile: /etc/calico/ssl/etcd-key.pem
  etcdCertFile: /etc/calico/ssl/etcd.pem
  etcdCACertFile: /etc/calico/ssl/ca.pem
