{
    "name": "calico-k8s-network",
    "cniVersion": "0.1.0",
    "type": "calico",
    "etcd_endpoints": "{{ ETCD_ENDPOINTS }}",
    "etcd_key_file": "/etc/calico/ssl/etcd-key.pem",
    "etcd_cert_file": "/etc/calico/ssl//etcd.pem",
    "etcd_ca_cert_file": "/etc/calico/ssl/ca.pem",
    "log_level": "info",
    "mtu": 1500,
    "ipam": {
        "type": "calico-ipam"
    },
    "policy": {
        "type": "k8s",
        "k8s_api_root": "{{ KUBE_APISERVER }}",
        "k8s_auth_token": "{{ BOOTSTRAP_TOKEN }}"
    },
    "kubernetes": {
        "kubeconfig": "/root/.kube/config"
    }
}
